/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');
body{
  margin: 0;
  background-color: #f9f9f9;
  font-family: 'Outfit', sans-serif;
}